// Define variables for your color scheme

// Our color Scheme
$gold: #fec624;
$charcoal: #3c5474;
$light-gray: #F4FAFF;
$silver-gray: #b5b5b7;
$turquoise: #02dfdf;
// $turquoise: #7CB6B7;

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
