// Define variables for your color scheme

// Our color Scheme
$gold: #F7B009;
$charcoal: #3A4750;
$light-gray: #EEEEEE;
$silver-gray: #8F8F8F;

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
