.container-rankings{
  background-color: white;
  width: 75%
}

.container-menu{
  margin-top: 20px;
  width: 25%;
  margin-left: 45px;
}

.title-current-batch{

}

.current-batch{

}

.content-homepage{
  display: flex;
}

