.content-homepage{
  display: flex;
  justify-content: space-between;
}

.container-rankings{
  background-color: white;
  width: 80%

}

.container-menu{
  margin-top: 20px;
}

.title-current-batch{

}

.last-batch{
  margin-top: 50px;
}



