// Vidéos Cards
.wrapper-videos {
  display: flex;
  justify-content: space-around;
}
.add-video-btn {
  width: 100%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  color: black;
  &:hover {
    text-decoration: none;
    color: $silver-gray;
  }
}

// When selected vidéo
.selected-video {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  // border-color: #04DEAD;
  border-color: $green;
}

// Vidéo Cards
.video-card {
  flex: 0 0 23%;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  a {
    text-decoration: none;
  }
  iframe {
    width: 100%;
    margin-bottom: -4px;
  }
}

#show-form-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 300px;
  h3 {
    font-size: 40px;
    margin-top: 11px;
  }
}

.form-card {
  min-height: 300px;
}

.show-form {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}

.name-figures {
  display: flex;
}

#new_creator {
  font-size: 13px;
  label {
    font-weight: 200;
  }
  button {
    text-align: center;
  }
}

#avatar-name-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  // background-color: green;
  img {
    // background-color: blue;
    padding: 10px;
    height: 150px;
  }
  h3 {
    font-size: 30px;
    // background-color: red;
    max-width: 50%;
  }
}

#submit-creator-btn {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 15px 30px;
}

.creator-stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  p {
    font-size: 14px;
  }
}

#custom-video-input {
  width: 35%;
}

.avatar-new-creator{
  border-radius: 50%;
  height: 120px;
}

.name-new-creator{
  font-family: $creators-font;
  font-size: 50px;
  color: $gold;
}

@media screen and (max-width: 1000px) {
  .wrapper-videos {
    display: block;
  }
  .video-card{
    padding: 10px 0px;
  }
  .creator-stats{
    justify-content: space-around;
    padding: 0px;
  }
  #custom-video-input {
  width: 80%;
}

}
