

.wrapper-search {
  display: flex;
}

.filters-card {
  background-color: $charcoal;
  color: white;
  width: 40vw;
  margin-right: 20px;
}

.content-homepage{
  display: flex;
}

#ranking-search {
  width: 100%;
}
