
// Header Search

.header-search {
  padding-top: 20px;
}

.wrapper-search {
}

.side-wrapper {
  @media all and (max-width: 768px){
    position: block;
  }
  @media all and (min-width: 769px) {
    top: 10px;
   position: sticky;
  }
}

.filters-card {
  display: flex;
  flex-direction: column;
  color: $charcoal;
  padding: 0px 20px 10px 20px;
  // height: 65vh;
}

// Design Scroll


// Search - Bar - Design

.search-form {
  justify-content: center;
  width: 40vw;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  @media all and (max-width: 768px){
    width: 90vw;
  }
  @media all and (min-width: 769px) {
    width: 40vw;
  }

}

.search-bar {
  height: 50px;
  border-style: none;
  border-top-left-radius:
   30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

.search-btn {
  font-weight: lighter;
  height: 50px;
  width: 100px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

// Level - card - info

.lever-user-typo {
  color: $charcoal;
  font-weight: 500;
}

.content-homepage{
  display: flex;
}

#ranking-search {
  width: 100%;
  padding: 30px;
}

 // No result-card //
.no-result-card {
  color: $silver-gray;
  justify-content:center;
}

.no-result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.btn-charcoal-creator {
  background-color: $charcoal;
}


// Select 2 forms

.select2form-index {
  width: 100%;
  color: black;

  option {
    font-weight: 400;
    color: black;
  }

  .selection {
    font-weight: 400;
    color: black;
  }
}

.select-tags {
  li {
    color: black;
    font-weight: 400;
  }

  label {
    margin: 20px 20px 0px 0px;
    font-size: 20px;
    font-weight: 400;
  }
}
