.user-infos {
  // margin-top: 50px;
  min-height: 300px;
  position: relative;
  p {
    font-size: 15px;
  }
  h3 {
    margin-top: 11px;
  }
}

@media(max-width: 720px) {
  .user-infos {
    min-height: 0px;
  }
}

.user-infos-container {
  h3 {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 720px) {
  .user-header {
    display: flex;
    align-items: center;
    h3 {
      margin-left: 20px;
    }
  }
  .achievements {
    display: block!important;
  }
}


.user-infos-content {
  // h3 {
  //   margin-bottom: 25px;
  // }
}

.popover-title {
  font-size: 14px;
}
.popover-content {
  font-size: 14px;
}

#edit-form-user {
  padding-top: 20px;
}

.bio-section {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid $light-gray;
}
#edit-user-btn {
  color: $charcoal;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.6;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.achievements {
  display: flex;
  justify-content: space-between;
}
.achievements-title {
  font-size: 22px;
}

.progress-bar-container {
  flex: 1 0 auto;
}

.divider {
  width: 1px;
  margin: 10px 20px;
  background: $light-gray;
}

.next-steps {
  flex: 0 0 30%;
  max-width: 350px;
  li {
    font-size: 15px;
  }
}

.light-color {
  opacity: 0.6;
}

// Bootstrap tabs redesign
.custom-tabs {
  border-bottom: none;
}

.custom-tabs > li > a {
  color: #000000;
  background-color: white;
}

.custom-tabs > li > a:hover {
  color: #000000;
  background-color: white;
  border: none;
  border-bottom: 3px solid $gold;
}

.custom-tabs > li.active > a, .custom-tabs > li.active > a:focus {
  color: #000000;
  font-weight: bold;
  background-color: white;
  border: none;
  border-bottom: 3px solid $gold;
}

.nav-tabs > li.active > a:hover {
  background-color: white;
  border: none;
  border-bottom: 3px solid $gold;
}
