.back-btn {
  background-color: $charcoal;
  color: $charcoal;
}

.upvotes-content {
  text-align: center;
  display: flex;

}

.btn-upvotes {
  margin-right: 10px;
}

.fa-caret-up {
  margin-right: 5Px
}

.counter-upvotes {
  margin-right: 10Px
}

.creator {
  display: flex;
  align-items: center;
}

.show-card{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;

  .back-show{
    z-index: -2;
    position: absolute;
    top: 38px;
    left: -80px;
    -webkit-transform: rotate(-5deg);
    background-color: #3A4750;
    padding: 50px 1200px;
    font-size: 15px;
    font-weight: bolder;
}

  .avatar-large {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin: 10px;
  }

  .showcased-name {
    font-family: "Permanent Marker", "Helvetica", "cursive";
    font-size: 50px;
    line-height: 45px;
    color: white;
    text-decoration: none;
  }

}

.info {
  border-top: 5px solid $charcoal;
  margin: 0px;
}

.subtitle-info {
  margin: 10px;
}

.social {
  ul {
    margin-top: 5px;
  }
}

.btn-channel {
  background-color: none;
}

.btn-subscribe {
  margin-left: 40px;
}

.description {
  position: relative;
  display: flex;
  box-shadow: none;
  margin: 0px ;
  padding: 71px;
}

.quote {
}

.discovered-by {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.description-video {
  padding: 0px;
  margin: auto;
  border-top: 5px solid $gold;
}

.counter-upvotes {
  margin: 5px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-left: 2%;
  padding-top: 0px;
  margin-bottom: 20px;
}

.videoWrapper iframe {
  position: absolute;
  width: 96%;
  height: 96%;
}
