

.upvotes-content {
  text-align: center;
  display: flex;

}

.btn-upvotes {
  margin-right: 10Px
}

.fa-caret-up {
  margin-right: 5Px
}

.counter-upvotes {
  margin-right: 10Px
}

.creator {
  display: flex;
  align-items: center;
}

.show-card{
  background-color: $silver-gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;

  .avatar-large {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin: 10px;
  }

  .showcased-name {
    font-family: "Permanent Marker", "Helvetica", "cursive";
    font-size: 50px;
    line-height: 45px;
    color: white;
    text-decoration: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 640px 1fr ;
  grid-template-rows: 200px 150px 1fr 1fr;
}

.show-card {
  grid-row: 1/ span 1;
  grid-column: 1/ span 3;
  margin-top: 10px;
  margin: 5px;
  padding: 0px;
}

.info {
  grid-row: 2/ span 2;
  grid-column: 1/ span 1;
  margin: 5px;
  padding: 0px;
}

.subtitle-info {
  margin: 10px;
}

.social {
  ul {
    margin-top: 5px;
  }
}

.btn-channel {
  background-color: none;
}

.g-ytsubscribe {

}

.description {
  grid-row: 2/ span 1;
  grid-column: 2/ span 2;
  margin: 5px;
  padding-top: 10px;
  position: relative;
}

.quote {
  position: absolute;
  top: 10px;
  left: 20px;
}

.discovered-by {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.video {
  grid-row: 3/ span 1;
  grid-column: 2/ span 1;
  margin: 5px;
  padding: 0px;
}

.fun-figures {
  grid-row: 3/ span 1;
  grid-column: 3/ span 1;
  margin: 5px;
  margin-left: 0px;
  padding: 0px;
}
