.upvotes-content {
  flex: 0 0 auto;
  text-align: center;
  // display: flex;
}

.upvote-tip {
  padding: 10px 0;
  background-color: rgba($gold, 0.6);
  color: white;
  h1 {
    font-size: 18px;
    margin: 0;
  }
}

.upvote-tip-current {
  margin-top: 10px;
  font-size: 16px;
}

.counter-upvotes {
  margin-right: 10Px
}

.creator {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
}

.back-show{
  z-index: -2;
  position: absolute;
  top: 300px;
  left: -80px;
  -webkit-transform: rotate(-5deg);
  background-color: $charcoal;
  height: 200px;
  width: 120vw;

}

.wrapper {
  overflow: hidden;
}

.show-card{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  padding-top: 20px;
  width: 100vw;


  .avatar-large {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin: 10px;
  }

  .showcased-name {
    font-family: "Permanent Marker", "Helvetica", "cursive";
    font-size: 50px;
    line-height: 45px;
    color: $charcoal;
    text-decoration: none;
  }

}

.info {
  margin: 0px;
  margin-bottom: 30px;
}

.subtitle-info {
  margin: 10px;
}

.social {
  ul {
    margin-top: 5px;
  }
}

.btn-more {
  background-color: none;
  position: absolute;
  padding: 10px;
  bottom: -5px;
  right: 42%;

  a {

    font-size: 16px;
    text-decoration: none;
    color: $silver-gray;
    transition: 0.3 ease;

    &:hover {
      text-decoration: none;
      opacity: 0.8;

    }
  }
}

.btn-subscribe {
  margin-left: 40px;
  position: relative;
}

.youtube-btn1 {
  position: relative;
}

.youtube-btn2 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 85px;
  background-color: none;

  a {
    text-decoration: none;
    color: white;
    padding: 12px 42px 12px 42px;

  }
}

.description {
  position: relative;
  display: flex;
  box-shadow: none;
  margin: 0px ;
  padding: 71px;
}

.quote {
  font-size: 30px;
}

.discovered-by {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.description-video {
  padding: 0px;
  margin: auto;
}

.counter-upvotes {
  margin: 5px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-left: 5%;
  padding-top: 0px;
  margin-bottom: 20px;
}

.videoWrapper iframe {
  position: absolute;
  width: 90%;
  height: 90%;
}
