// Text

.text-italic {
  font-style: italic;
}

.text-turquoise {
  color: $turquoise;
}

.text-charcoal {
  color: $charcoal;
}

// Emoji size

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
