<ul class="list-inline">
  <li>Viewer</li>
  <li>Basic digger</li>
  <li>Advanced digger</li>
  <li>Expert digger</li>
</ol>

<div class="steps">
    <ul class="steps-container">
        <li style="width:25%;" class="activated">
            <div class="step">
                <div class="step-image"><span></span></div>
                <div class="step-name">Viewer</div>
            </div>
        </li>
        <li style="width:25%;">
            <div class="step">
                <div class="step-image"><span></span></div>
                <div class="step-name">Basic digger</div>
            </div>
        </li>
        <li style="width:25%;">
            <div class="step">
                <div class="step-image"><span></span></div>
                <div class="step-name">Advanced digger</div>
            </div>
        </li>
        <li style="width:25%;">
            <div class="step">
                <div class="step-image"><span></span></div>
                <div class="step-name">Expert digger</div>
            </div>
        </li>
    </ul>
    <div class="step-bar" style="width: 25%;"></div>
</div>
