<div class="footer">
  <div class="footer-links hidden-xs hidden-sm">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-creators-brand text-center">
    <%= cl_image_tag asset_url("logo-tagline-inline.svg") %>
  </div>
  <div class="info-footer">
    <div class="footer-copyright">
        This app was made with <i class="fa fa-heart"></i> by our team.
    </div>
    <div class="about-link">
        <%= link_to "Learn more about us!", about_path %>
    </div>
  </div>
</div>
