  <div class="modal fade" id="creator-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLabel">Enter the URL of the creator's channel you want to share</h5>
        </div>
        <div class="modal-body">
          <%= simple_form_for @creator, url: creators_path do |form| %>
            <%= form.input :channel_url, required: true, as: :string, id: "form-input-no-border", placeholder: "https://www.youtube.com/channel/mychanel" %>
            <%= form.button :submit, 'Retrieve data', class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
