<div class="level-card card text-center">
  <p> You're currently <span class="lever-user-typo"> <%= current_user.level_name %> </span>! Want to pass level ?</p>
  <span class="btn btn-info">
    <%= link_to "How to do it ?", user_path(current_user) %>
  </span>
</div>
