<div class="level-card card text-center card-charcoal">
  <p> You're currently a <span class="lever-user-typo"> <%= current_user.level_name %></span>! Want to level up?</p>
  <span class="btn btn-charcoal-creator">
    <%= link_to "How to do it ?", user_path(current_user) %>
  </span>
</div>
