<div class="container">
  <h1>CONDITIONS GÉNÉRALES D'UTILISATION</h1>

<h4>1. LA SOCIÉTÉ</h4>

<p>Rising creators, propose une application web. Son utilisation est entièrement gratuite et propose aux Membres la possibilité de découvrir, mettre en avant et voter pour les créateurs Youtube de leur choix.</p>

<h4>2. ACCEPTATION DES CONDITIONS D’UTILISATION</h4>

<p>L’accès à l’application est réservé à toute personne l’ayant visité (ci-après le « Visiteur »). Un Visiteur ne pourra cependant faire aucune action sur le Site ou sur les Applications à part visiter les pages ou écrans qui lui sont autorisés. Sur les pages ou écrans non autorisés, il sera invité à se créer un compte (il sera alors un « Membre ») pour aller plus loin.</p>

<p>L'acceptation intégrale des présentes Conditions d’Utilisation par le Visiteur est nécessaire lors de son inscription sur le l’Application. Cette acceptation est matérialisée par l’action du Visiteur de cliquer sur le bouton “Créer un compte”, celle-ci tenant lieu de signature électronique, et ayant, de convention expresse, valeur de signature manuscrite entre l’Application et le Visiteur.</p>

<p>Sans cette acceptation par le Visiteur, l'inscription ne pourra pas être validée.</p>

<h4>3. DÉFINITIONS</h4>

<p>Les termes et expressions spécifiques employés dans les présentes Conditions d'Utilisation ont la signification suivante (qu'ils soient utilisés au singulier ou au pluriel) :</p>

<p>"Compte" désigne l’espace personnel créé par le Membre sur l’Application, contenant ses informations personnelles (identification, statistiques etc.) accessible grâce à la combinaison d’un Pseudonyme et d’un Mot de passe définis par le Visiteur à la création de son Compte.</p>
<p>“Conditions d’Utilisation” désigne les présentes Conditions d’utilisation de l'Application que le Visiteur accepte dans leur intégralité lors de la création de son Compte.</p>
<p>"Membre" désigne un Visiteur qui possède un Compte identifié sur le Site ou une des Applications.
“Mot de Passe” désigne le mot de passe choisi par le Visiteur au moment de la création de son Compte afin d'accéder au Site ou aux Applications. Il doit contenir au moins 6 caractères alphanumériques.</p>
<p>“Pseudonyme” est une suite de 3 caractères minimum et pouvant aller jusqu’à 24 caractères et ne pouvant contenir que des lettres, chiffres, underscore. Il désigne le nom choisi par le Membre pour le représenter sur le Site ou les applications.</p>
<p>« La Société » désigne Rising Creators.</p>
<p>“Visiteur” est une personne qui n’a pas encore créé de compte sur l’Application.</p>

<h4>4. MODALITÉS DE CRÉATION ET SUPPRESSION D’UN COMPTE</h4>

<h6>4.1. RESTRICTIONS À LA CRÉATION D’UN COMPTE</h6>

<p>Ne peuvent pas créer de Compte sur l’Application les personnes de moins de 13 ans.</p>

<h6>4.2. CRÉATION ET VALIDATION D’UN COMPTE</h6>

<p>Afin de se créer un Compte, le Visiteur doit renseigner un Pseudonyme de son choix et un Mot de passe unique et secret. L’application peut aussi offrir la possibilité de créer un compte via le service Facebook Connect qui va récupérer automatiquement les informations sur le compte Facebook pour ne pas avoir à les retaper.</p>

<p>Ces informations sont strictement personnelles. Le Visiteur doit en garantir la confidentialité et veiller à ce qu’elles ne soient pas utilisées par autrui. Partant de ce fait, lorsque l'identifiant et le mot de passe d’un Visiteur seront utilisés, il existera une présomption que c’est bien le Visiteur qui les utilise.</p>

<p>À la suite de la validation du formulaire, on demandera au Visiteur des renseignements supplémentaires. Certaines informations peuvent déjà être renseignées s’il a utilisé le service Facebook Connect.</p>

<p>Une fois ces renseignements donnés, le Visiteur pourra terminer l’inscription. S’il n’a pas utilisé le service Facebook Connect, il recevra un email l'invitant à cliquer sur un lien de validation, ce lien nous permet de vérifier la validité de son adresse mail et redirigera le Visiteur vers le Support sur lequel il s’est inscrit.</p>

<p>La validation de l’adresse mail est la dernière étape et une fois faite, le Visiteur sera un Membre vérifié et il aura accès à toutes les fonctions présentent sur le Support dès lors qu’il sera identifié sur son compte.</p>

<h6>4.3 DÉSACTIVATION ET SUPPRESSION D’UN COMPTE</h6>

<p>Un Membre peut demander la suppression de son Compte à tout moment directement sur un Support ou envoyer un mail à contact@rising-creators.com. Un email de confirmation sera envoyé au Membre.</p>

<p>La société se réserve également le droit de supprimer définitivement tout Membre ayant contrevenu aux présentes Conditions d’Utilisation.</p>

<p>Dans le cas d’une suppression du Compte par la Societé ou le Membre, informations et interactions diverses créés par le dit Membre seront retirées de l’Application ne seront plus visibles. Pour des raisons de sécurité, la Société se garde le droit de conserver ses informations pendant 6 mois même si elles ne seront plus visibles par les autres Membres.</p>

<h4>5. EXCLUSION DE GARANTIES</h4>

<p>Indépendamment des efforts de la Société pour fournir un service de la plus haute qualité et du plus haut niveau de sécurité à ses Membres, la Société ne peut garantir que son Application ne soit dépourvu d’erreurs, de bugs ou de virus et que son accès sera ininterrompu.</p>

<p>La Société ne pourra en aucun cas être tenue responsable des dommages directs, indirects résultant de l’utilisation (ou de la mauvaise utilisation) de l’Application (y compris, et de façon non exhaustive, de dommages résultant de pertes ou de l’interruption du service).</p>

<p>La Société ne pourra pas être tenue responsable de ce qui se passe entre les Membres hors du périmètre de l’application.</p>

<p>Le Membre reconnaît que la Société ne pourra également être responsable d'aucun dégât, perte ou dommage provenant de phénomènes de piratage, falsification ou tout autre accès non autorisé ou utilisation de l’Application ou de son Compte.</p>

<p>Rising Creators se réserve le droit de suspendre, de modifier, ou de compléter son Application sans préavis.</p>

<h4>6. RESPONSABILITÉS ET GARANTIES DU MEMBRE</h4>

<p>Un Membre est responsable des informations qu’il met sur l’Application. Il s’engage à renseigner de façon complète et honnête les informations que l’Application lui demande.</p>

<p>Un Membre s’engage à garder son Identifiant et son Mot de passe secrets et confidentiels.</p>

<p>Un Membre reconnaît qu’il est seul responsable de l’utilisation qu’il fera de l’Application Rising Creators.</p>

<p>Un Membre s’engage également à ne permettre à aucune personne à accéder à l’Application via son Compte.</p>

<p>Un Membre reconnaît que l'Application n’est responsable d’aucune façon des difficultés rencontrées pour accéder et utiliser l'Application en raison des réseaux de communication électronique et notamment des services d’accès à Internet.</p>

<p>Un Membre n’est pas autorisé à utiliser l’Application a des fin professionnelles, commerciales ou lucratives.</p>

<p>Un Membre n’est pas autorisé à avoir des propos qui seraient illicites ou contraires aux bonnes mœurs (notamment obscènes, indécents, diffamants, pornographiques, injurieux, menaçants, ou de harcèlement de quelque type).</p>

<p>Un Membre ne peut pas faire la promotion de tout produit ou service, société ou URL, quels qu’ils soient, à l’exception de l’adresse de l’Application Rising Creators.</p>

<p>Un Membre ne peut pas faire des déclarations qui pourraient être raisonnablement considérées comme diffamatoires ou attentatoires à l’image de l’Application Rising Creators.</p>

<p>Un Membre reconnaît qu’en contrevenant aux présentes Conditions d’utilisation, il pourra être l’objet d’une sanction telle que définie dans l’article 7.</p>

<p>En cas de fermeture du Compte sur décision de la Société, le Membre ne pourra plus s’inscrire ni avoir accès à l’Application sans l’accord écrit de la Société.</p>

<p>Un membre reconnaît que toute tentative visant à entrer dans le système de l'Application de manière non autorisée ou sur un Compte, interférant avec les procédures ou performances de celle-ci ou l’endommageant délibérément est sujet à des poursuites au tribunal civil et/ou pénal et à la fermeture immédiate de son Compte.</p>

<h4>7. SANCTIONS</h4>

<p>Dans le cas où un Membre ne respecterait pas les Conditions d’Utilisation, une ou plusieurs sanctions seront appliquées et notamment :</p>

<p>Suspension temporaire du Compte pour une durée déterminée par la Société. Le Membre ne peut alors plus se connecter à son Compte jusqu’à ce que le compte ne soit plus suspendu.</p>
<p>Suppression du Compte et de toutes ses données affiliées.</p>
<p>Bannissement de l'adresse IP du Membre.</p>
<p>La décision de la sanction appliquée est à la discrétion des administrateurs de la Société. En cas de problème relevant de la législation française, la Société pourra également déposer plainte auprès des autorités judiciaires compétentes. Dans tous les cas, le Membre sera informé de sa sanction par email dans les meilleurs délais.</p>

<h4>8. PROPRIÉTÉ INTELLECTUELLE</h4>

<p>Tout le contenu de l’Application et des informations fournies, à savoir de façon non exhaustive : les images, les illustrations, les graphismes, les photographies, les animations, les vidéos, la musique, les textes, logo sont la propriété de la Société à l’exception des éléments fournis par http://youtube.com/.</p>

<p>Un Membre étant l’auteur d’une publication via l’Application (textes, upvotes, tout contenu créé par un Membre) donne l’autorisation à la Société d'utiliser, copier, distribuer, transmettre, afficher publiquement, présenter publiquement, reproduire, éditer, modifier, traduire et reformater sa contribution dans le cadre de son Application ou de ses partenaires, et de sous-concéder ces droits, dans toute la mesure permise par la réglementation applicable.</p>

<p>Toute exploitation illicite de tout ou partie du contenu de l’Application et des droits de propriété intellectuelle fera l'objet d’une plainte aux autorités judiciaires compétentes.</p>





<h4>9. DONNÉES PERSONNELLES ET SÉCURITÉ</h4>
<h6>9.1 POLITIQUE DE CONFIDENTIALITÉ</h6>

<p>Vos renseignements personnels sont collectés par le biais de formulaires présents sur les pages de l’Application comme le formulaire d’inscription ou le formulaire qui permet à un Membre de mettre à jour son profil.</p>

<p>La société s’engage à respecter la confidentialité des renseignements personnels collectés. Ils ne seront pas vendus par la société mais une fois anonymisées (retrait du Pseudonyme, de l’email) les actions des Membres pourront être utilisées à des buts statistiques par la Société ou ses partenaires.</p>

<h6>9.2 DROIT D'OPPOSITION ET DE RETRAIT</h6>

<p>La Société s’engage à offrir un droit d'opposition et de retrait aux Membres quant aux renseignements personnels. Le droit d'opposition est la possibilité aux Membres de refuser que leurs renseignements personnels soient utilisés par la Société comme mentionné dans l’article 9.1. Le droit de retrait s'entend comme étant la possibilité offerte aux Membres de demander à ce que leurs renseignements personnels ne figurent plus sur l’Application.</p>

<p>Pour pouvoir exercer ces droits, le Membre peut nous envoyer sa demande :</p>

<p>Par courrier postal : M. Maximilien Rufin, 1 Rue Jouffroy d’Abbans, 75017, Paris</p>

<p>Par courriel : contact@rising-creators.com</p>

<h6>9.3 DROIT D'ACCÈS</h6>

<p>Conformément à la loi “informatique et libertés” du 6 janvier 1978 modifiée en 2004, les Membres bénéficient d’un droit d’accès et de rectification de leurs informations qu’il peuvent exercer en envoyer leur demande :</p>

<p>Par courrier postal : M. Maximilien Rufin, 1 Rue Jouffroy d’Abbans, 75017, Paris</p>

<p>Par courriel : contact@rising-creators.com</p>

<h6>9.4 SÉCURITÉ</h6>

<p>Les renseignements personnels que la Société collecte sont conservés dans un environnement sécurisé. Les personnes travaillant pour la Société sont tenues de respecter la confidentialité de vos informations.</p>

<p>Pour assurer la sécurité des renseignements personnels des Membres, la Société recours aux mesures suivantes : elle maintient un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité des transactions des Membres.</p>

<p>Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.</p>
<h4>9. MODIFICATION DES CONDITIONS D’UTILISATION</h4>

<p>La Société se réserve le droit de mettre à jour ou de modifier tout ou partie des présentes Conditions d’utilisation à tout moment et sans notification. Il est donc conseillé aux Membres de visiter cette adresse web régulièrement afin de prendre connaissance de la version en vigueur.</p>

<p>L’utilisation continue de l’application vaudra acceptation par les Membres des modifications apportées aux Conditions d’utilisation.</p>

<h4>10. LOI APPLICABLE ET TRIBUNAL COMPÉTENT</h4>

<p>Les présentes Conditions d’utilisation sont soumises aux lois françaises.</p>

<p>Sauf disposition légale impérative contraire, le Membre accepte que les tribunaux du ressort de la Cour d’appel de Paris seront seuls compétents à titre exclusif quant à toute demande, tout litige ou tout différent relatif aux Conditions d’utilisation.</p>

<h4>11. NULLITÉ ET AUTONOMIE DES DISPOSITIONS CONTRACTUELLES</h4>

<p>Dans l’hypothèse où une disposition des Conditions d’utilisation serait nulle, cela n’affectera ni la validité ni le caractère exécutoire des autres dispositions des Conditions d’utilisation.</p>

<h4>12. MENTION RELATIVE À LA MARQUE</h4>

<p>Rising-Creators est une marque déposée de Creators. Les noms des éditeurs, des médias, des services et plus généralement des sociétés ou produits mentionnés sont les marques de leurs propriétaires respectifs. Tous les droits qui ne sont pas expressément concédés sont réservés par Rising Creators.</p>

<p>Copyright © 2018 Rising Creators. Tous droits réservés.</p>

<p>Numéro de version : 0.9</p>

<p>Date de dernière mise à jour : 11 mai 2018</p>


</div>
