<% content_for(:navbar_class, "hidden") %>



<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1496559249665-c7e2874707ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e5b40b0e2857bf228bc2e22acf6b959&auto=format&fit=crop&w=2850&q=80');">
  <div class="banner-content">

    <h1>Creators</h1>
    <p>Discover new creators on Youtube</p>
    <a class="btn btn-primary btn-lg ">Start now</a>
  </div>
</div>
