<% content_for(:navbar_home, "hidden") %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1496559249665-c7e2874707ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e5b40b0e2857bf228bc2e22acf6b959&auto=format&fit=crop&w=2850&q=80');">
  <div class="banner-content">

    <h1>Creators</h1>
    <p>Discover new creators on Youtube</p>
    <a class="btn btn-primary btn-lg ">Start now</a>
  </div>
</div>

<div class="container">
  <div class="row content-landing">
    <div class="col-xs-12 col-sm-5">
      <div class="card card-charcoal">
        <div class="landing-title">
          <h3>Do you feel like YouTube is...</h3>
        </div>
        <div class="landing-content">
          <i class="fas fa-sync-alt"></i>
          <p>Always showing you the same stuff?</p>
        </div>
        <div class="landing-content">
          <i class="fas fa-star"></i>
          <p>Always showing you the big names?</p>
        </div>
      </div>
    </div>
    <div class="col-xs-hidden col-sm-2" style="text-align: center;">
      <i class="fas fa-caret-right"></i>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="card card-gold">
        <div class="landing-title">
          <h3>Creators is here to help!</h3>
        </div>
        <div class="landing-content">
          <i class="fas fa-sync-alt"></i>
          <p>Share the Creators you love with the community</p>
        </div>
        <div class="landing-content">
          <i class="fas fa-sync-alt"></i>
          <p>Discover small Creators thanks to our recommendation system</p>
        </div>
        <div class="landing-content">
          <i class="fas fa-star"></i>
          <p>Give spotlight to the Creators you love by entering them in the weekly ranking!</p>
        </div>
      </div>
    </div>
  </div>
</div>

