<div class="banner" style="background-image: #EEEEEE">
  <div class="banner-content" >
    <a class="btn btn-primary btn-lg">Back</a>
    <h1><%= @creator.youtube_name %></h1>
    <a class="btn btn-primary btn-lg">upvote</a>
  </div>
    <p>#vidéo #acompleter</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="description">
        <div style="margin: auto">
          <p>"<%= @creator.description %>"</p>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>


