// bootstrap primary color is now $GOLD. You can use "btn btn-primary" (+btn-lg if needed) for any button

.btn {
  border: 0px;

  a {
    text-decoration: none;
    color: white;
    font-weight: lighter;

  }
}



.upvote-btn-title-symbol {
  flex: 0 0 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  padding: 10px 0;
  // margin: 10px;
}

.upvote-btn-title {
  padding-left: 10px;
}

.fa-angle-up {
  padding: 0px 10px 0px 10px;
  margin-right: 10px;
  font-size: 24px;
}

.fa-angle-down {
  padding: 0px 10px 0px 10px;
  margin-right: 10px;
}

.btn-upvote-no-padding {
  padding: 0;
}


.full-btn-upvote {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border: 1px solid $gold;
  border-radius: 2px;
  width: 200px;
  height: 55px;
  vertical-align: middle;

}

.full-btn-upvote-nb{
  border-color: $gold !important;
  background-color: white !important;
  color: $charcoal !important;
  width:55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 1px solid;
}

.waiting{
  color: $charcoal;
  font-weight: bold;
  width: 145px;
  height: 55px;
  padding-top: 10px;
  padding-left: 18px;
  &:hover{
    opacity: 0.75;
    background-color: $gold;
    color: white;
    .fa-angle-up{
      -webkit-animation: ld-spin 1.5s ;
      animation: ld-spin 1.5s ;
    }
  }
}


.upvoted{
  background-color: $gold;
  font-weight: bold;
  width: 145px;
  height: 54px;
  padding-top: 10px;
  padding-left: 18px;
}
