.card {
  min-height: 100px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 10px 0 hsla(0, 0%, 0%, 0.2);
  margin: 20px 0;
  padding: 20px;
  h2 {
    margin-top: 0px;
  }
}

// FOR CREATOR CARDS

.card-creator{
  // background-color: red;
  display: flex;
  // margin: 0px 5px;
  padding: 20px 15px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba($light-gray, 0.7);
  position: relative;
  min-height: 115px;
  &:hover{
    background-color: rgba($light-gray, 0.4)
  }
}

.creator-info{
  display: flex;
  align-items: center;
}

.avatar-creator{
  height: 50px;
  border-radius: 50%;
}

.card-avatar{
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.card-content{
  padding: 0px 80px 0px 20px;
}

.card-sub-content{
  display: flex;
  justify-content: space-between;
}

.creator-name{
  font-family: $creators-font;
  color: black !important;
  font-size: 20px;
}

.creator-tags{
  font-size: 10px;
  color: $silver-gray;
  font-style: italic;
  min-width: 60px;
}

.creator-description{
  font-size: 15px;
  margin-left: 30px;
  text-align: justify;
  a{
    text-decoration: none;
    color: rgba(black, 0.6);
  }
  a:hover{
    color: rgba(black, 0.75);
  }
}

.card-upvote{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 15px;
  .nb_upvotes{
    font-size: 12px;
    color: $silver-gray;
    margin-top: 7px;
    opacity: 0.7;
  }
}

.card-gold{
  border-top: 5px solid $gold;
}

.card-charcoal{
  border-top: 5px solid $charcoal;
}

.card-turquoise{
  border-top: 5px solid $turquoise;
}

.upvote-grey{
  color: $charcoal !important;
}

.upvote-gold{
  color: $gold !important;
}

.showcased-icon{
  color: $turquoise;
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 15px;
}

.team-choice{
  border-left: 3px solid $turquoise;
}


// MEDIA QUERIES FOR MOBILE

@media screen and (max-width: 1000px) {
  .creator-tags{
    display: none;
  }
  .card-creator{
    padding: 15px 5px;
  }
  .card-avatar{
    margin: 0;
  }
  .creator-info{
    // align-items: stretch;
  }
  .creator-description{
    margin: 0;
    padding: 5px 10px 0px 10px;
  }
  .card-content{
    padding: 0;
    padding-left: 5px;
  }
  .container-rankings{
    padding: 20px 0px 20px 10px;
  }
  .title-current-batch, .tagline-last-batch{
    text-align: center;
    h1{
      margin-top: 0px;
    }
  }
  .last-batch{
    margin-top: 40px !important;
  }
  .showcased-icon{
    color: $turquoise;
    position: absolute;
    top: 15px;
    left: 20px;
  }
}


















