#countholder{
  color: white;
  display: inline-block;
  text-align: center;
  background-color: $charcoal;
  margin-top: 15px;
  border-radius: 2px;
  line-height: 1.4;
}

#countholder > div{
 padding: 4px 10px;
 border-radius: 2px;
 display: inline-block;
}




