.card-showcased{
  padding: 15px;
  background-color: $charcoal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  position: relative;
  overflow-x: hidden;
  .fa-star{
    position: absolute;
    top: 15px;
    font-size: 25px;
    color: rgba($gold, 1);
  }
  .editors-choice{
    position: absolute;
    top: 20px;
    left: -30px;
    transform: rotate(-42deg);
    background-color: rgba($gold, 1);
    padding: 5px 25px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
  }
}

@media(max-width: 1000px) {
  .card-showcased{
    flex-direction: column;
  }
  .player{}

}


.avatar-showcased-creator{
  height: 120px;
  border-radius: 50%;
  flex: 0 0 auto;
  // position: absolute;
  // top: -125px;
}


.showcased-video {
  max-width: 800px;
  width: 100%;
  .player {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    width: 100%;
    overflow: hidden;
    background: gray;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.showcased-video{
  flex: 0 0 550px;
//   iframe {
//     width: 100%
//     // height:43vh;
//     // width:38vw;
//   }
}

.showcased-name{
  font-family: $creators-font;
  font-size: 50px;
  line-height: 45px;
  color: white;
  text-decoration: none;
  &:hover{
    color: $light-gray;
    text-decoration: none;
  }
}

.showcased-digger{
  text-align: right;
  margin-right: 15px;
}

.showcased-description{
  padding: 25px 15px;
  text-align: justify;
}

.showcased-tags{
  font-size: 15px;
  color: $silver-gray ;
  font-family: $body-font ;
  margin-top: 10px;
  font-style: italic;
  }

.list-tags {
  margin-left: 10px !important;
}

.avatar-showcased-digger{
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.showcased-avatar-tags{
  position: relative;
}

.showcased-infos{
  padding: 0px 10px;
}











