<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p> Nous vous contactons pour vous notifier que votre email est changé pour  <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous notifier que votre email a été changé pour  <%= @resource.email %>.</p>
<% end %>
